{% extends 'base.html.twig' %}

    {% block body %}


<h1> {{ title }} </h1>

{% if age > 18 %}
    <p>Tu es majeur</p>
{% else %}
    <p>Tu es mineur</p>
{% endif %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis praesentium ex aliquam totam tenetur? Ex dicta optio, labore nihil itaque quia animi sequi suscipit repellat exercitationem officia! Similique, laudantium aspernatur?
Quos, impedit, voluptatibus maxime voluptas corporis facere eveniet nostrum nisi autem quas placeat ea necessitatibus reprehenderit sed molestiae assumenda repudiandae nulla, aut quo recusandae. Nisi dolores rerum est id sit?
Ullam hic commodi dicta rerum soluta! Quibusdam voluptatum, quidem tempore tempora officiis quia, magni illo fugiat blanditiis mollitia, molestiae beatae quaerat nesciunt officia libero ipsa? Sapiente temporibus molestias perspiciatis amet!
Dolore ipsum temporibus fugiat. Itaque veritatis maiores officiis nihil non voluptas sunt, unde dolorem tenetur dolore voluptatibus nulla, quos blanditiis ducimus aliquid. Quaerat, saepe? Repellat a at debitis sapiente quas!
Voluptatibus quaerat commodi corporis ipsam molestiae aliquid doloremque numquam eligendi quas dicta nulla mollitia expedita, eveniet optio. Deserunt labore, amet quo necessitatibus possimus blanditiis quae deleniti ipsam iure architecto aut.</p>

{% endblock %}