{% extends 'base.html.twig'%}

    {% block body %}
        
        <article>
            <h2>titre de l'article</h2>
            <div class="metadata">Ecrit le 10/05/2022 à 19/00 dans la catégory cuisine</div>
            <div class="content">
                <img src="https://i.pinimg.com/236x/72/a1/16/72a116db8c7fa2d8c7065c4b60a16be8--lotus-tattoo-color-lotus-flower-background.jpg" alt="">
                <p><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, molestias ut ab asperiores odio recusandae? Ad, possimus dolores ab doloribus debitis officia quia nulla alias ratione nostrum ipsam inventore quibusdam!</span><span>Totam facere neque cupiditate sit commodi illum, eveniet quis ducimus aspernatur deleniti explicabo? Cupiditate perferendis cumque, sapiente, repellat voluptatibus odit quia laboriosam maiores ex mollitia praesentium distinctio quis quos facilis!</span><span>Error libero modi excepturi optio sunt! Optio, enim! Aperiam cumque, quae soluta ea et perferendis quaerat itaque fugiat esse assumenda accusamus eos rem aliquam minus tenetur, voluptate vitae a! Blanditiis.</span><span>Vitae ad iure ullam laboriosam fuga officiis pariatur nostrum corrupti voluptate quibusdam quam non dolorum vero consequuntur magni culpa reiciendis illo accusantium voluptatum, libero recusandae molestiae minima? Hic, amet aliquam.</span><span>Aliquid tempora reiciendis perspiciatis fugiat non eos, at quae nostrum rem odio facilis mollitia, accusantium soluta aspernatur, accusamus obcaecati corporis error beatae placeat fugit nemo sed? Rerum vitae tempore dolorem?</span></p>
            </div>
           <a href="{{ path('blog') }}" class="btn btn-primary">Retour</a>
        </article>


    {% endblock %}